<!DOCTYPE html>
<html ng-app="BonMod">
<head>
	<title>HELP!!!!!!</title>
</head>
<body ng-controller="HelpCtrl">
http://jsfiddle.net/blingz/B5UbE/12/
HELP?
<br><br>
<a href="https://github.com/akatov/angular-contenteditable" target="new">angular content editable</a>

<ul>
	<li ng-repeat="item in items" contenteditable="true" ng-model="item.name"></li>
</ul>
<ul>
  <li ng-repeat="item in items">{{item.name}}</li>
</ul>





<table ng-controller="PlanningCtrl" border="1" class="col-md-7 col-md-offset-1 col-xs-offset-0 col-xs-12" id="reading-tab">
  <th class="tab-head">READING</th>
  <tr><td style="padding-right:5px"><strong><em>Throughout this document, the term “text” refers not only to literary and informational texts, including primary and secondary sources and science and technical texts, but also to images, graphics, audio-video, mathematical, and technological communications.</em></strong></td></tr>
  <!--print subhead if there is any true value in array of reading standards sub-sections -->
  <tr ng-if="subCheck('ki')">
    <td class="reading-bg">Key Ideas and Details</td>
  </tr>
  <!--print standards for that have been selected, or true in array -->
  <tr ng-if="passed.ki[$index]" ng-repeat="data in planningData.ki">
    <td ng-class="{'edit-det' : toEdit.ki[$index]}">
      <strong>{{data.id}}</strong>. {{data.text}}<br />
      <ul ng-class="{'edit-reading-bg': !toEdit.ki[$index]}" contentEditable="{{!toEdit.ki[$index]}}">
        <li ng-repeat="details in data.det" ng-model="details">{{details}}</li>
      </ul>
      <div ng-if="data.det1112">
        <em>In addition, students in grades 11-12 will be able to:</em>
        <ul ng-class="{'edit-reading-bg': !toEdit.ki[$index]}" contenteditable="{{!toEdit.ki[$index]}}">
          <li ng-repeat="upper in data.det1112" ng-model="upper">{{upper}}</li>
        </ul>
        <ul ng-class="{'edit-reading-bg': !toEdit.ki[$index]}">
          <li ng-repeat="upper in data.det1112">{{upper}}</li>
        </ul>
      </div>

      <div class="btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': !toEdit.ki[$index], 'edit-menu': toEdit.ki[$index] }">
        <button type="button" class="btn btn-default" ng-click="toEdit.ki[$index] = !toEdit.ki[$index]" ng-disabled="!toEdit.ki[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
        <button type="button" class="btn btn-default" ng-click="toEdit.ki[$index] = !toEdit.ki[$index]; planningEditsSave('ki', $index);" ng-disabled="toEdit.ki[$index]"><i class="glyphicon glyphicon-ok"></i></button>
        <button type="button" class="btn btn-default" ng-click="toEdit.ki[$index] = !toEdit.ki[$index]; planningEditsCancel('ki', $index);" ng-disabled="toEdit.ki[$index]"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
    </td>
  </tr>
</table>




</body>
</html>



