 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  ng-app="BonMod">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

<style>

.navbar-fixed-bottom {
  color:#fff;
  text-align: center;
  margin: auto;
  background-color:#333333;
  clear:both;
}

.navbar-fixed-top {
  color:#fff;
  background-color:#333333;
  text-align: center;
}

.navbar-btn {
  background-color:red;
  color:#fff;
}

th {
  font-size:24px;
  color:white;
  background-color:black;
  padding: .25em;
  text-align: center;
}

td{
  padding: 5px;
}

#footer {
  position:fixed;
  clear:both;
  bottom:0;
  width:100%;
}

#lastrow {
  padding-bottom: 65px ;
}

.row-highlight {
  background-color:#ffff00;
}

.row-clear {
  background-color:#ffffff;
}

</style>



</head>

<body ng-controller="HomeCtrl">
<nav class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
    <h3>College and Career Readiness Anchor Standards | Revere High School Core Competencies</h3>
     <button style="float:right" type="button" class="btn btn-link" data-container="body" data-trigger="focus" data-toggle="popover" data-placement="bottom" data-content="Select the core skills in a unit of study by clicking each one. To unselect a core skill, click again. To print, click the 'Generate planning guide' button at the bottom.">How does this work?</button>

</div>
</nav>


  <div class="container-fluid">
    <div class="row">
    	<div class="col-md-5 col-md-offset-1 col-xs-12">
      	<table border="1" id="reading-tab" class="table  table-hover">
      		<th>READING</th>
         	<tr>
         		<td class="reading-sub">Key Ideas and Details</td>
          </tr>
          <tr ng-repeat="x in core.reading.ki">
          	<td ng-class="{ 'row-highlight': selectedStandards.ki[$index] }" ng-click="standardClicked('ki', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="reading-sub">Craft and Structure</td>
          </tr>
          <tr ng-repeat="x in core.reading.cs">
          	<td  ng-class="{'row-highlight': selectedStandards.cs[$index]}" ng-click="standardClicked('cs', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="reading-sub">Integration of Knowledge and Ideas</td>
          </tr>
          <tr ng-repeat="x in core.reading.ik">

          	<td  ng-class="{'row-highlight': selectedStandards.ik[$index]}" ng-click="standardClicked('ik', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="reading-sub">Range of Reading and Level of Text Complexity</td>
          </tr>
          <tr ng-repeat="x in core.reading.rr">
          	<td ng-class="{'row-highlight': selectedStandards.rr[$index]}" ng-click="standardClicked('rr', $index);" >{{x}}</td>
      		</tr>
      	</table>
      </div> 

      <div class="col-md-5 col-xs-12"> 
      	<table border="1" id="writing-tab" class="table  table-hover table-bordered">
      		<th>WRITING</th>
         	<tr>
         		<td class="writing-sub">Text Types and Purpose</td>
          </tr>
          <tr ng-repeat="x in core.writing.tt">
          	<td ng-class="{'row-highlight': selectedStandards.tt[$index]}" ng-click="standardClicked('tt', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="writing-sub">Production and Distribution of Writing</td>
          </tr>
          <tr ng-repeat="x in core.writing.pd">
          	<td ng-class="{'row-highlight': selectedStandards.pd[$index]}" ng-click="standardClicked('pd', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="writing-sub">Research to Build and Present Knowledge</td>
          </tr>
          <tr ng-repeat="x in core.writing.rb">
          	<td ng-class="{'row-highlight': selectedStandards.rb[$index]}" ng-click="standardClicked('rb', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="writing-sub">Range of Writing</td>
          </tr>
          <tr ng-repeat="x in core.writing.rw">
          	<td ng-class="{'row-highlight': selectedStandards.rw[$index]}" ng-click="standardClicked('rw', $index);" >{{x}}</td>
      		</tr>
      	</table>
      </div>
    </div>

    <div class="row"> 
      <div class="col-md-5 col-md-offset-1 col-xs-12"> 
        <table border="1" id="speakinglistening-tab" class="table  table-hover table-bordered">
      		<th>SPEAKING and LISTENING</th>
         	<tr>
         		<td class="speakinglistening-sub">Comprehension and Collaboration</td>
          </tr>
          <tr ng-repeat="x in core.speakingListening.cc">
          	<td ng-class="{'row-highlight': selectedStandards.cc[$index]}" ng-click="standardClicked('cc', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="speakinglistening-sub">Presentation of Knowledge and Ideas</td>
          </tr>
          <tr ng-repeat="x in core.speakingListening.pk">
          	<td ng-class="{'row-highlight': selectedStandards.pk[$index]}" ng-click="standardClicked('pk', $index);" >{{x}}</td>
      		</tr>
      	</table>
      </div>

      <div class="col-md-5 col-xs-12">
        <table border="1" id="language-tab" class="table  table-hover table-bordered">
      		<th>LANGUAGE</th>
         	<tr>
         		<td class="language-sub">Standard Language Conventions</td>
          </tr>
          <tr ng-repeat="x in core.language.sl">
          	<td ng-class="{'row-highlight': selectedStandards.sl[$index]}" ng-click="standardClicked('sl', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="language-sub">Knowledge of Lanaguage</td>
          </tr>
          <tr ng-repeat="x in core.language.kl">
          	<td ng-class="{'row-highlight': selectedStandards.kl[$index]}" ng-click="standardClicked('kl', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="language-sub">Vocabulary Acquisition and Use</td>
          </tr>
          <tr ng-repeat="x in core.language.va">
          	<td ng-class="{'row-highlight': selectedStandards.va[$index]}" ng-click="standardClicked('va', $index);" >{{x}}</td>
      		</tr>
      	</table>
      </div>
    </div>

    <div class="row" id="lastrow">
      <div class="col-md-5 col-md-offset-1 col-xs-12">
        <table border="1" id="problemsolving-tab" class="table  table-hover table-bordered">
      		<th>CREATIVE PROBLEM SOLVING</th>
         	<tr>
         		<td class="problemsolving-sub">Knowledge</td>
          </tr>
          <tr ng-repeat="x in core.problemSolving.kn">
          	<td ng-class="{'row-highlight': selectedStandards.kn[$index]}" ng-click="standardClicked('kn', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="problemsolving-sub">Process</td>
          </tr>
          <tr ng-repeat="x in core.problemSolving.pr">
          	<td ng-class="{'row-highlight': selectedStandards.pr[$index]}" ng-click="standardClicked('pr', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="problemsolving-sub">Communication</td>
          </tr>
          <tr ng-repeat="x in core.problemSolving.co">
          	<td ng-class="{'row-highlight': selectedStandards.co[$index]}" ng-click="standardClicked('co', $index);" >{{x}}</td>
      		</tr>
      	</table>  
      </div>

      <div class="col-md-5 col-xs-12">
        <table border="1" id="responsibility-tab" class="table  table-hover table-bordered">
      		<th>CIVIC and SOCIAL RESPONSIBILITY</th>
         	<tr>
         		<td class="responsibility-sub">Civic Responsibility</td>
          </tr>
          <tr ng-repeat="x in core.responsibility.cr">
          	<td ng-class="{'row-highlight': selectedStandards.cr[$index]}" ng-click="standardClicked('cr', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="responsibility-sub">Social Responsibilty</td>
          </tr>
          <tr ng-repeat="x in core.responsibility.sr">
          	<td ng-class="{'row-highlight': selectedStandards.sr[$index]}" ng-click="standardClicked('sr', $index);" >{{x}}</td>
      		</tr>
          <tr>
         		<td class="responsibility-sub">Individual Responsibility</td>
          </tr>
          <tr ng-repeat="x in core.responsibility.ir">
          	<td ng-class="{'row-highlight': selectedStandards.ir[$index]}" ng-click="standardClicked('ir', $index);" >{{x}}</td>
      		</tr>
      	</table> 
      </div>
    </div> 
  </div>


<nav class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">

    <a class="btn navbar-btn" ng-click="navClicked()" ng-disabled="anyClicked()" type="button" href="#/planning">Generate planning guide</a>
    <a class="btn navbar-btn" ng-click="navClicked()" ng-disabled="anyClicked()" type="button" href="#/scoring">Generate scoring guide</a>
    <a class="btn navbar-btn" ng-click="clearButton()"  type="button" href="#/">Clear selections</a>

</div>
</nav>
<script type="text/javascript">

$(function () {
  $('[data-toggle="popover"]').popover()
})
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
</html>
