@charset "utf-8";
/* CSS Document */

* {
	font-family:Calibri;
}
table {

	border-collapse:collapse;
	width:80%;
	margin: 20px;
}
th {
	font-size:24px;
	color:white;
	background-color:black;
	padding: .25em;
}
td{
	padding: 5px;
}
/*table subhead colors*/

.reading-sub{
	background-color:#0CF;
}
.writing-sub{
	background-color:#00FFFF;
}
.speakinglistening-sub{
	background-color:#CC00FF;
}
.language-sub{
	background-color:#FFFF33;
}
.problemsolving-sub{
	background-color:#FF9900;
}
.responsibility-sub{
	background-color:#FF3333;
}