<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="BonMod">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>My Planning Guide</title>

<style>
* {
	font-family:Calibri;
}
table {
  border-collapse:collapse;
  margin-top: 0px;

}
.tab-head {
	font-size:24px;
	color: #fff;
	background-color:black;
  text-align: center;
}
td, th{
	padding: 5px;
}

/*table subhead colors*/

.reading-sub{
	background-color:#0CF;
}
.writing-sub{
	background-color:#00FFFF;
}
.speakinglistening-sub{
	background-color:#CC00FF;
}
.language-sub{
	background-color:#FFFF33;
}
.problemsolving-sub{
	background-color:#FF9900;
}
.responsibility-sub{
	background-color:#FF3333;
}



.navbar-fixed-top {
  color:#fff;
  background-color:#333333;
  text-align: center;
}


.navbar-fixed-bottom {
  color:#fff;
  text-align: center;
  margin: auto;
  background-color:#333333;
}

.navbar-btn{

  background-color:red;
  color:#fff;
}

#info-pad{
  padding-bottom: 25px;
}
</style>

</head>

<body ng-controller="PlanningCtrl">
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h4>College and Career Readiness Anchor Standards | Revere High School Core Competencies</h4>
  </div>
</nav>

<!--Reading table -->

<div class="container-fluid">
  <div class="row" id="info-pad">
    <table border="1" class="col-md-7 col-md-offset-1 col-xs-offset-0 col-xs-12">
      <tr>
        <th width="50%">
          Planning Guide<br>
          Adapted from the RHS Core Competencies
        </th>
        <th width="25%" style="border-right: 0">
          Teacher Name: <br>
          Unit of Study:
        </th>
        <th width="25%" style="border-left: 0">
          <br>
          Date: 
        </th>
      </tr>
    </table>
  </div>


  <div class="row">
	<!--print table if there is any true value in array of reading standards -->
  	<table border="1" class="col-md-7 col-md-offset-1 col-xs-offset-0 col-xs-12" id="reading-tab" ng-if="anyReading()">
  		<th class="tab-head">READING</th>
      <tr><td><strong><em>Throughout this document, the term “text” refers not only to literary and informational texts, including primary and secondary sources and science and technical texts, but also to images, graphics, audio-video, mathematical, and technological communications.</em></strong></td></tr>
      <!--print subhead if there is any true value in array of reading standards sub-sections -->
     	<tr ng-if="subCheck('ki')">
     		<td class="reading-sub">Key Ideas and Details</td>
      </tr>
      <!--print standards for that have been selected, or true in array -->
      <tr ng-if="passed.ki[$index]" ng-repeat="x in planningData.ki">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      
     	<tr ng-if="subCheck('cs')">
     		<td class="reading-sub">Craft and Structure</td>
      </tr>
      <tr ng-if="passed.cs[$index]" ng-repeat="x in planningData.cs">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      
     	<tr ng-if="subCheck('ik')">
     		<td class="reading-sub">Integration of Knowledge and Ideas</td>
      </tr>
      <tr ng-if="passed.ik[$index]" ng-repeat="x in planningData.ik">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      
      <tr ng-if="subCheck('rr')">
     		<td class="reading-sub">Range of Reading and Level of Text Complexity</td>
      </tr>
      <tr ng-if="passed.rr[$index]" ng-repeat="x in planningData.rr">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
  	</table>
  </div>
  
  
<!--Writing table -->
<div class="row">
    <table border="1" id="writing-tab" class="col-md-7 col-md-offset-1 col-xs-offset-0 col-xs-12" ng-if="anyWriting()">
  		<th class="tab-head">WRITING</th>
     	<tr ng-if="subCheck('tt')">
     		<td class="writing-sub">Text Types and Purpose</td>
      </tr>
      <tr ng-if="passed.tt[$index]" ng-repeat="x in planningData.tt">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      <tr ng-if="subCheck('pd')">
     		<td class="writing-sub">Production and Distribution of Writing</td>
      </tr>
      <tr ng-if="passed.pd[$index]" ng-repeat="x in planningData.pd">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      <tr ng-if="subCheck('rb')">
     		<td class="writing-sub">Research to Build and Present Knowledge</td>
      </tr>
      <tr ng-if="passed.rb[$index]" ng-repeat="x in planningData.rb">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      <tr ng-if="subCheck('rw')">
     		<td class="writing-sub">Range of Writing</td>
      </tr>
      </tr>
      <tr ng-if="passed.rw[$index]" ng-repeat="x in planningData.rw">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
  	</table>
</div>

<div class="row">
  <!--Speaking and Listening table -->
    <table  class="col-md-7 col-md-offset-1 col-xs-offset-0 col-xs-12" border="1" id="speakinglistening-tab" ng-if="anySpeakingListening()">
  		<th class="tab-head">SPEAKING and LISTENING</th>
     	<tr ng-if="subCheck('cc')">
     		<td class="speakinglistening-sub">Comprehension and Collaboration</td>
      </tr>
      </tr>
      <tr ng-if="passed.cc[$index]" ng-repeat="x in planningData.cc">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      <tr ng-if="subCheck('pk')">
     		<td class="speakinglistening-sub">Presentation of Knowledge and Ideas</td>
      </tr>
      <tr ng-if="passed.pk[$index]" ng-repeat="x in planningData.pk">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
  	</table>
</div>
<div class="row">
  <!--Language table --> 
    <table border="1"  class="col-md-7 col-md-offset-1 col-xs-offset-0 col-xs-12" id="language-tab" ng-if="anyLanguage()">
  		<th class="tab-head">LANGUAGE</th>
     	<tr ng-if="subCheck('sl')">
     		<td class="language-sub">Standard Language Conventions</td>
      </tr>
      <tr ng-if="passed.sl[$index]" ng-repeat="x in planningData.sl">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      <tr ng-if="subCheck('kl')">
     		<td class="language-sub">Knowledge of Lanaguage</td>
      </tr>
      <tr ng-if="passed.kl[$index]" ng-repeat="x in planningData.kl">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      <tr ng-if="subCheck('va')">
     		<td class="language-sub">Vocabulary Acquisition and Use</td>
      </tr>
      <tr ng-if="passed.va[$index]" ng-repeat="x in planningData.va">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
  	</table>
    </div>

  <!--Creative Problem Solving table -->  
  <div class="row">
    <table border="1"  class="col-md-7 col-md-offset-1 col-xs-offset-0 col-xs-12" id="problemsolving-tab" ng-if="anyCreative()">
  		<th class="tab-head">CREATIVE PROBLEM SOLVING</th>
     	<tr ng-if="subCheck('kn')">
     		<td class="problemsolving-sub">Knowledge</td>
      </tr>
      <tr ng-if="passed.kn[$index]" ng-repeat="x in planningData.kn">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      <tr ng-if="subCheck('pr')">
     		<td class="problemsolving-sub">Process</td>
      </tr>
      <tr ng-if="passed.pr[$index]" ng-repeat="x in planningData.pr">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      <tr ng-if="subCheck('co')">
     		<td class="problemsolving-sub">Communication</td>
      </tr>
      <tr ng-if="passed.co[$index]" ng-repeat="x in planningData.co">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
  	</table>  
    </div>
  <!--Civic and Social Responsibility table -->  
  <div class="row">
    <table  class="col-md-7 col-md-offset-1 col-xs-offset-0 col-xs-12" border="1" id="responsibility-tab" ng-if="anyResponsibility()">
  		<th class="tab-head">CIVIC and SOCIAL RESPONSIBILITY</th>
     	<tr ng-if="subCheck('cr')">
     		<td class="responsibility-sub">Civic Responsibility</td>
      </tr>
      <tr ng-if="passed.cr[$index]" ng-repeat="x in planningData.cr">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      <tr ng-if="subCheck('sr')">
     		<td class="responsibility-sub">Social Responsibilty</td>
      </tr>
      <tr ng-if="passed.sr[$index]" ng-repeat="x in planningData.sr">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
      <tr ng-if="subCheck('ir')">
     		<td class="responsibility-sub">Individual Responsibility</td>
      </tr>
      <tr ng-if="passed.ir[$index]" ng-repeat="x in planningData.ir">
      	<td>
        	<strong>{{x.id}}</strong>. {{x.text}}<br />
        	<ul>
          	<li ng-repeat="y in x.det">{{y}}</li>
          </ul>
          <div ng-if="x.det1112">
          <em>In addition, students in grades 11-12 will be able to:</em>
          <ul>
          	<li ng-repeat="z in x.det1112">{{z}}</li>
          </ul>
          </div>
        </td>
  		</tr>
  	</table> 

    </div> 
    </div>
    </div> 

<nav class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <a class="btn navbar-btn" ng-click="" type="button" href="#/scoring">Generate scoring guide</a>
    <a class="btn navbar-btn" ng-click="" type="button" href="#">Print</a>
  </div>
</nav>
</body>
</html>
