<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="BonMod">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>My Scoring Guide</title>

<style>
body{

  padding-top: 75px;
}
.navbar-fixed-top {
  color:#fff;
  background-color:#333333;
  text-align: center;
}

.navbar-fixed-bottom {
  color:#fff;
  text-align: center;
  margin: auto;
  background-color:#333333;
}

.navbar-btn{

  background-color:red;
  color:#fff;
}
#prompt-info{
  padding: 10px 10px 10px 5px;
}
#lastrow{
	  padding-bottom: 65px ;
}
.tab-pad-row{
  padding-top:25px;
}
tr{
	vertical-align: top;
}
th, td{

	padding:5px;
}

td:nth-child(2), td:nth-child(3){
  padding-right: 40px;
  overflow: hidden;
  position: relative;
}

ul{
  list-style: none;
  padding:0;
}
li {
  margin-bottom: 5px;
}
.stand-head, .per-head{
  width:25%;
  text-align: left;

}
.pro-head{
  width:50%;
  text-align: center;
}

.edit-pro {
  position: relative;
  padding-right: 50px;
  overflow: hidden;
}
.edit-per {
  position: relative;
  overflow: hidden;
}

.edit-pro:hover, .edit-per:hover{
  background-color:#d3d3d3;
}

.edit-pro:hover .edit-menu {
  transition: 0.75s;
  width: 35px;
  right: 0;
}
/*edit menu hidden when td isn't hovered over*/
.edit-menu {
  transition: 0.75s;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
/*edit menu appears when td hovered over*/
.edit-per:hover .edit-menu {
  transition: 0.75s;
  width: 35px;
  right: 0;
}
/*div style for when edit icon clicked; button stay shown*/
.edit-icon-clicked {
  position: absolute;
  right: 0;
  top: 0;
  width:35px;
}
/*td style for when edit icon clicked*/
.edit-reading-bg {
  background-color: rgba(0,204,255,0.20);
}
.edit-writing-bg {
  background-color: rgba(0,255,255,0.20);
}
.edit-speakinglistening-bg {
  background-color: rgba(204, 0, 255, 0.15);
}
.edit-language-bg {
  background-color: rgba(255, 255, 51, 0.35);
}
.edit-problemsolving-bg {
  background-color: rgba(255, 153, 0, 0.35);
}
.edit-responsibility-bg {
  background-color: rgba(255, 51, 51, 0.15);
}


</style>
</head>
 
<body>

  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <h4>College and Career Readiness Anchor Standards | Revere High School Core Competencies</h4>
    </div>
  </nav>

  <div class = "container-fluid">
  
    <div class="row">
      <table border="1" class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10">
        <tr>
          <th width="50%">
          	Scoring Guide<br>
          	Adapted from the RHS Core Competencies
          </th>
          <th width="25%" style="border-right: 0">
          	Student Name: <br>
          	Grade:
          </th>
          <th width="25%" style="border-left: 0">
            <br>
            Date: 
          </th>
        </tr>
      </table>
    </div>

    <div class="row">
      <div id="prompt-info" class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10">
        Assignment:
      </div>
    </div>

  </div>

  <div class="container-fluid">

    <div class="row tab-pad-row" ng-if="anyCheck(passedConcat.allReading)">
      <table border="1" class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10">
        <tr class="reading-bg">
          <th class="stand-head">Reading Standards</th>
          <th class="pro-head">Criteria for Proficiency</th>
          <th class="per-head">Performace Level</th>
        </tr>
        <tr ng-repeat="x in scoringData.reading" ng-if="passedConcat.allReading[$index]">
        	<td><strong>{{x.sub}}</strong>. {{x.text}}</td>
        	<td contentEditable="{{ !!isEditableRPro[$index] }}" ng-class="{ 'edit-reading-bg': isEditableRPro[$index], 'edit-pro': !isEditableRPro[$index]  }">
            <strong>{{x.focus}}</strong>. {{x.pro}}
            <div class="btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableRPro[$index], 'edit-menu': !isEditableRPro[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableRPro[$index] = !isEditableRPro[$index]" ng-disabled="isEditableRPro[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableRPro[$index] = !isEditableRPro[$index]" ng-disabled="!isEditableRPro[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableRPro[$index] = !isEditableRPro[$index]" ng-disabled="!isEditableRPro[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
        	<td contentEditable="{{ !!isEditableRPer[$index] }}" ng-class="{'edit-reading-bg': isEditableRPer[$index], 'edit-per': !isEditableRPer[$index]}">
            <ul>
              <li>Proficient</li>
              <li>Developing</li>
              <li>Emerging</li>
              <li>Insufficient evidence</li>
            </ul>
            <div class="btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableRPer[$index], 'edit-menu': !isEditableRPer[$index] }">
              <button type="button" class="btn btn-default"  ng-click="isEditableRPer[$index] = !isEditableRPer[$index]" ng-disabled="isEditableRPer[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableRPer[$index] = !isEditableRPer[$index]" ng-disabled="!isEditableRPer[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableRPer[$index] = !isEditableRPer[$index]" ng-disabled="!isEditableRPer[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="row tab-pad-row" ng-if="anyCheck(passedConcat.allWriting)">
      <table border="1" class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10">
        <tr class="writing-bg">
          <th class="stand-head">Writing Standards</th>
          <th class="pro-head">Criteria for Proficiency</th>
          <th class="per-head">Performace Level</th>
        </tr>
        <tr ng-repeat="x in scoringData.writing" ng-if="passedConcat.allWriting[$index]">
          <td><strong>{{x.sub}}</strong>. {{x.text}}</td>
          <td contentEditable="{{ !!isEditableWPro[$index] }}"ng-class="{'edit-writing-bg': isEditableWPro[$index], 'edit-pro': !isEditableWPro[$index]}">
            <strong>{{x.focus}}</strong>. {{x.pro}}
            <div class="edit-menu btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableWPro[$index], 'edit-menu': !isEditableWPro[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableWPro[$index] = !isEditableWPro[$index]" ng-disabled="isEditableWPro[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableWPro[$index] = !isEditableWPro[$index]" ng-disabled="!isEditableWPro[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableWPro[$index] = !isEditableWPro[$index]" ng-disabled="!isEditableWPro[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
          <td contentEditable="{{ !!isEditableWPer[$index] }}" ng-class="{'edit-writing-bg': isEditableWPer[$index], 'edit-per': !isEditableWPer[$index]}">
            <ul>
              <li>Proficient</li>
              <li>Developing</li>
              <li>Emerging</li>
              <li>Insufficient evidence</li>
            </ul>
            <div class="btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableWPer[$index], 'edit-menu': !isEditableWPer[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableWPer[$index] = !isEditableWPer[$index]" ng-disabled="isEditableWPer[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableWPer[$index] = !isEditableWPer[$index]" ng-disabled="!isEditableWPer[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableWPer[$index] = !isEditableWPer[$index]" ng-disabled="!isEditableWPer[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="row tab-pad-row" ng-if="anyCheck(passedConcat.allSpeakingListening)">
      <table border="1" class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10">
        <tr class="speakinglistening-bg">
          <th class="stand-head">Speaking and Listening Standards</th>
          <th class="pro-head">Criteria for Proficiency</th>
          <th class="per-head">Performace Level</th>
        </tr>
        <tr ng-repeat="x in scoringData.speakingListening" ng-if="passedConcat.allSpeakingListening[$index]">
          <td><strong>{{x.sub}}</strong>. {{x.text}}</td>
          <td contentEditable="{{ !!isEditableSLPro[$index] }}" ng-class="{'edit-speakinglistening-bg': isEditableSLPro[$index], 'edit-pro': !isEditableSLPro[$index]}">
            <strong>{{x.focus}}</strong>. {{x.pro}}
            <div class="edit-menu btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableSLPro[$index], 'edit-menu': !isEditableSLPro[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableSLPro[$index] = !isEditableSLPro[$index]" ng-disabled="isEditableSLPro[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableSLPro[$index] = !isEditableSLPro[$index]" ng-disabled="!isEditableSLPro[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableSLPro[$index] = !isEditableSLPro[$index]" ng-disabled="!isEditableSLPro[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
          <td contentEditable="{{ !!isEditableSLPer[$index] }}" ng-class="{'edit-speakinglistening-bg': isEditableSLPer[$index], 'edit-per': !isEditableSLPer[$index]}">
            <ul>
              <li>Proficient</li>
              <li>Developing</li>
              <li>Emerging</li>
              <li>Insufficient evidence</li>
            </ul>
            <div class="btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableSLPer[$index], 'edit-menu': !isEditableSLPer[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableSLPer[$index] = !isEditableSLPer[$index]" ng-disabled="isEditableSLPer[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableSLPer[$index] = !isEditableSLPer[$index]" ng-disabled="!isEditableSLPer[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableSLPer[$index] = !isEditableSLPer[$index]" ng-disabled="!isEditableSLPer[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="row tab-pad-row" ng-if="anyCheck(passedConcat.allLanguage)">
      <table border="1" class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10">
        <tr class="language-bg">
          <th class="stand-head">Language Standards</th>
          <th class="pro-head">Criteria for Proficiency</th>
          <th class="per-head">Performace Level</th>
        </tr>
        <tr ng-repeat="x in scoringData.language" ng-if="passedConcat.allLanguage[$index]">
          <td><strong>{{x.sub}}</strong>. {{x.text}}</td>
          <td contentEditable="{{ !!isEditableLPro[$index] }}" ng-class="{'edit-language-bg': isEditableLPro[$index], 'edit-pro': !isEditableLPro[$index]}">
            <strong>{{x.focus}}</strong>. {{x.pro}}
            <div class="edit-menu btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableLPro[$index], 'edit-menu': !isEditableLPro[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableLPro[$index] = !isEditableLPro[$index]" ng-disabled="isEditableLPro[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableLPro[$index] = !isEditableLPro[$index]" ng-disabled="!isEditableLPro[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableLPro[$index] = !isEditableLPro[$index]" ng-disabled="!isEditableLPro[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
          <td contentEditable="{{ !!isEditableLPer[$index] }}" ng-class="{'edit-language-bg': isEditableLPer[$index], 'edit-per': !isEditableLPer[$index]}">
            <ul>
              <li>Proficient</li>
              <li>Developing</li>
              <li>Emerging</li>
              <li>Insufficient evidence</li>
            </ul>
            <div class="btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableLPer[$index], 'edit-menu': !isEditableLPer[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableLPer[$index] = !isEditableLPer[$index]" ng-disabled="isEditableLPer[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableLPer[$index] = !isEditableLPer[$index]" ng-disabled="!isEditableLPer[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableLPer[$index] = !isEditableLPer[$index]" ng-disabled="!isEditableLPer[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="row tab-pad-row" ng-if="anyCheck(passedConcat.allCreative)">
      <table border="1" class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10">
        <tr class="problemsolving-bg">
          <th class="stand-head">Creative Problem Solving Standards</th>
          <th class="pro-head">Criteria for Proficiency</th>
          <th class="per-head">Performace Level</th>
        </tr>
        <tr ng-repeat="x in scoringData.creative" ng-if="passedConcat.allCreative[$index]">
          <td><strong>{{x.sub}}</strong>. {{x.text}}</td>
          <td contentEditable="{{ !!isEditableCPSPro[$index] }}" ng-class="{'edit-problemsolving-bg': isEditableCPSPro[$index], 'edit-pro': !isEditableCPSPro[$index]}">
            <strong>{{x.focus}}</strong>. {{x.pro}}
            <div class="edit-menu btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableCPSPro[$index], 'edit-menu': !isEditableCPSPro[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableCPSPro[$index] = !isEditableCPSPro[$index]" ng-disabled="isEditableCPSPro[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableCPSPro[$index] = !isEditableCPSPro[$index]" ng-disabled="!isEditableCPSPro[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableCPSPro[$index] = !isEditableCPSPro[$index]" ng-disabled="!isEditableCPSPro[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
          <td contentEditable="{{ !!isEditableCPSPer[$index] }}" ng-class="{'edit-problemsolving-bg': isEditableCPSPer[$index], 'edit-per': !isEditableCPSPer[$index]}">
            <ul>
              <li>Proficient</li>
              <li>Developing</li>
              <li>Emerging</li>
              <li>Insufficient evidence</li>
            </ul>
            <div class="btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableCPSPer[$index], 'edit-menu': !isEditableCPSPer[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableCPSPer[$index] = !isEditableCPSPer[$index]" ng-disabled="isEditableCPSPer[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableCPSPer[$index] = !isEditableCPSPer[$index]" ng-disabled="!isEditableCPSPer[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableCPSPer[$index] = !isEditableCPSPer[$index]" ng-disabled="!isEditableCPSPer[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="row tab-pad-row" ng-if="anyCheck(passedConcat.allResponsibility)">
      <table border="1" class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10">
        <tr class="responsibility-bg">
          <th class="stand-head">Civic and Social Responsibility Standards</th>
          <th class="pro-head">Criteria for Proficiency</th>
          <th class="per-head">Performace Level</th>
        </tr>
        <tr ng-repeat="x in scoringData.responsibility" ng-if="passedConcat.allResponsibility[$index]">
          <td><strong>{{x.sub}}</strong>. {{x.text}}</td>
          <td contentEditable="{{ !!isEditableCSRPro[$index] }}" ng-class="{'edit-responsibility-bg': isEditableCSRPro[$index], 'edit-pro': !isEditableCSRPro[$index]}">
            <strong>{{x.focus}}</strong>. {{x.pro}}
            <div class="edit-menu btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableCSRPro[$index], 'edit-menu': !isEditableCSRPro[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableCSRPro[$index] = !isEditableCSRPro[$index]" ng-disabled="isEditableCSRPro[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableCSRPro[$index] = !isEditableCSRPro[$index]" ng-disabled="!isEditableCSRPro[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableCSRPro[$index] = !isEditableCSRPro[$index]" ng-disabled="!isEditableCSRPro[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
          <td contentEditable="{{ !!isEditableCSRPer[$index] }}" ng-class="{'edit-responsibility-bg': isEditableCSRPer[$index], 'edit-per': !isEditableCSRPer[$index]}">
            <ul>
              <li>Proficient</li>
              <li>Developing</li>
              <li>Emerging</li>
              <li>Insufficient evidence</li>
            </ul>
            <div class="btn-group-vertical" role="group" ng-class="{ 'edit-icon-clicked': isEditableCSRPer[$index], 'edit-menu': !isEditableCSRPer[$index] }">
              <button type="button" class="btn btn-default" ng-click="isEditableCSRPer[$index] = !isEditableCSRPer[$index]" ng-disabled="isEditableCSRPer[$index]"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableCSRPer[$index] = !isEditableCSRPer[$index]" ng-disabled="!isEditableCSRPer[$index]"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default" ng-click="isEditableCSRPer[$index] = !isEditableCSRPer[$index]" ng-disabled="!isEditableCSRPer[$index]"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </td>
        </tr>
      </table>
    </div>

  </div>

  <div class = "container-fluid">
  
    <div id="lastrow" class="row tab-pad-row">
      <table border="1" class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10">
        <tr>
          <th style="padding-bottom:50px" width="65%">
            COMMENTS:
          </th>
          <th style="padding-bottom:50px" width="35%">
            FINAL SCORE: 
          </th>
        </tr>
      </table>
    </div>
  </div>

  <nav class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="container">
      <a class="btn navbar-btn" ng-click="" type="button" href="#/planning">Generate Planning Guide</a>
      <a class="btn navbar-btn" ng-click="" type="button" ng-disabled=true href="#">Print</a>
      <a class="btn navbar-btn" ng-click="" type="button" href="#/">Start Over</a>
    </div>
  </nav>


</body>
</html>
